.div1{
    position: absolute;
    top: 5%;
    left: 25%;
    height: 16%;
    width: 50%;
    border-style: groove;
    border-color: blue;
    background-color: #00ffbd;
}

.box{
    position: absolute;
    left: 2.5%;
    top: 30%;
    height: 37%;
    width: 95%;
    display: inline-block;
    background-color: #00ffbd;
}

.name1{
    position: absolute;
    left: 2%;
    height: 80%;
    width: 80%;

}

.submit{
    position: absolute;
    left: 86%;
    top: 2.5%;
    height: 95%;
    width: 13%;

}